
<!doctype html>
<html>
<head>
    <title>${_csrf.token}</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
<body>${_csrf.token}</body>
</html>